<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Linear Regression</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <center>  
            <img src="{{image}}" height=600 />
          
            <form method="POST"> 
            <label> Input a comma-separated list of age values: </label>
            <input name="text">
            <input type="submit">

            </form>

        </center>
        
        <script src="" async defer></script>
    </body>
</html>